.list {
  padding-left: 25px;
  list-style-type: none;
  li {
    margin-bottom: 12px;
    position: relative;
    &:before {
      width: 6px;
      height: 6px;
      background-color: $main-blue;
      content: '';
      margin: 0 16px 0 0;
      position: absolute;
      left: -25px;
      top: 8px;
    }
  }
}