.main_block {
  @extend .border-bottom;
  width: 100%;
  background-image: url('../img/fone.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 651px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
    &__inner {
      width: 100%;
      padding: 0 80px;
        &__slider {
          width: 100%;
          padding-left: 40px;
            .text_18 {
              margin-bottom: 32px;
              max-width: 500px;
            }
            .link {
              font-family: $font-family_semibold;
            }
        }
    }
}


.text_warning {
  text-align: center;
  padding: 60px 0 20px 0;
  max-width: 980px;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .main_block__inner {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media (min-width: 1700px) {
  .medici {
    background-image: url('../img/medici.jpg');
    background-repeat: no-repeat;
    background-position: 16% bottom;
  }
  .main_block {
    background-image: url('../img/fone_big.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}

@media (min-width: 2500px) {
  .medici {
    background-image: url('../img/medici.jpg');
    background-repeat: no-repeat;
    background-position: 26% bottom;
  }
  .main_block {
    background-image: url(../img/fone_retina.jpg);
    background-repeat: no-repeat;
    background-position: 55% bottom;
  }
}