//some styles
.border-bottom {
  border-bottom: 1px solid $border-gray;
}

.divider {
  @extend .border-bottom;
  margin-bottom: 20px;
}

.org_subtitle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  .text_18 {
    max-width: 100%;
  }
}

.org_images {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 40px;
    .left {
      width: 70%;
      margin-right: 32px;
        img {
          width: 100%;
          display: block;
          max-height: 550px;
          height: -webkit-fill-available;
        }
    }
    .right {
      width: calc(30% - 32px);
      background-color: $border-gray;
        iframe {
          height: -webkit-fill-available;
          max-height: 550px;
          display: block;
        }
    }
}

.org_profile {
  margin-bottom:56px;
}

.gallery {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
    &_item {
      width: calc(33.33333% - 22px);
      margin-right: 32px;
      max-height: 250px;
      margin-bottom: 32px;
        &:nth-child(3n+3) {
          margin-right: 0;
        }
        img {
          width: 100%;
          height: -webkit-fill-available;
          object-fit: cover;
        }
      &:hover {
        opacity: 0.8;
      }
    }
}

.page_title h3 {
  max-width: 85%;
}

.page_body {
  width: 100%;
  margin-top: 56px;
  margin-bottom: 56px;
    &__inner {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
        .left {
          margin-right: 56px;
        }
        .right {
          .text_18 {
            //max-width: 80%;
            //margin-bottom: 20px;
            //line-height: 26px;
          }
        }
    }
}
.short_block {
  .right {
    .text_18 {
      max-width: 80%;
      margin-bottom: 20px;
      line-height: 26px;
    }
  }
}
.full_text {
  max-width: 1000px !important;
}

.page_title_descr {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-bottom: 40px;
  border-bottom: 1px solid $border-gray;
    .left {
      margin-right: 40px;
    }
}
.tile_block {
  margin-top: 40px !important;
}
.bordered {
  border-bottom: 1px solid $border-gray;
}
.double_bordered {
  border-bottom: 1px solid $border-gray;
  border-top: 1px solid $border-gray;
  padding: 40px 0;
}
.pb_second {
  margin-top: 0;
}

.video_box {
  width: 100%;
    iframe {
      width: 100%;
    }
}
.announce {
  max-width: 1000px;
  margin: 0 auto;
}
.simmetrical {
  .left {
    width: 50%;
  }
  .right {
    width: 50%;
  }
}
.address {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
    .ico_text {
      margin-right: 40px;
        .text {
          max-width: 240px;
        }
    }
    .phones {
      .link {
        display: block;
        margin-bottom: 9px;
      }
    }
}
.half {
  max-width: 700px;
}
.contacts {
  display: flex;
  width: 100%;
    &_item {
      margin-right: 56px;
    }
}

.map_contacts {
  width: 100%;
  display: block;
  height: 400px;
    iframe {
      width: 100%;
      height: 400px;
    }
}