@media (max-width: 1200px) {
  .header_menu {
    display: none;
  }
  .header__inner .header_top {
    width: 100%;
    padding: 20px;
  }

  .page__item {
    padding: 40px;
  }
  .page__inner {
    max-width: 100%;
    min-width: 100%;
    padding: 0;
  }
  .auto_block__inner {
    max-width: 100%;
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
      .text_16 {
        width: 100%;
      }
  }
  .footer__inner {
    max-width: 100%;
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .form_container {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
      h2 {
        margin-bottom: 40px;
      }
  }
  .main_block {
    background-image: url(../img/fone_retina.jpg);
    background-position: 62% bottom;
      &__inner {
        padding-left: 40px;
          &__slider {
            width: 100%;
            padding-left: 0;
              h1 {
                font-size: 36px;
                line-height: 42px;
              }
              .text_18 {
                font-size: 16px;
              }
          }
      }
  }
  .text_warning {
    padding: 60px 20px 20px 20px;
  }

  .tile_icons {
    .tile_item {
      width: calc(50% - 16px);
      margin-bottom: 32px;
      &:nth-child(4n+4) {
        margin-right: 32px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  .medici {
    background-image: url(../img/medici.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .info {
    padding-bottom: 450px;
  }

  .no-padding_tablet {
    padding-bottom: 0;
  }

  .tile_tre {
    padding: 0;
    margin-bottom: 0;
      .tile_item {
        margin-bottom: 56px;
        width: 50%;
        margin-right: 0;
      }
  }
  .tile_news {
    .tile_item {
      width: calc(50% - 16px);
      margin-right: 32px;
      margin-bottom: 32px;
      &:nth-child(4n+4) {
        margin-right: 32px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  .tile_nums .tile_item {
    width: calc(50% - 16px);
    margin-bottom: 56px;
    &:nth-child(3n+3) {
      margin-right: 32px;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  .footer {
    padding: 0 40px;
      .logos {
        img {
          width: auto;
          height: 50px;
        }
      }
  }
  .form_container .form_box .btn {
    min-width: 50%;
  }
  .form_container .form_box .form__item {
    min-width: 50%;
  }


  //ADDITIONAL PAGES STARTS HERE

  .sort_filters {
    margin-top: 40px;
    flex-wrap: wrap;
    .sf_item {
      width: calc(50% - 16px);
      margin-right: 32px;
      margin-bottom: 32px;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
        width: 100%;
      }
    }
    .sort_filters__search.sf_item {
      width: 100%;
      margin-right: 0;
    }
  }
  .dashed_search {
    background-position: 97%;
  }
  .filter_organisations {
    width: 100%;
    flex-direction: column;
      .left {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      .right {
        width: 100%;
        justify-content: flex-start;
          .dropdown {
            width: 100%;
            margin-right: 0;
          }
      }
  }
  .tile_organisations {
    .tile_item {
      .news_img {
        height: auto;
      }
      &:nth-child(3n+3) {
        margin-right: 32px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  //ORGANISATION PAGE

  .page_title h3 {
    max-width: 100%;
  }
  .org_subtitle {
    flex-direction: column;
    align-items: flex-start;
    .text_18 {
      margin-bottom: 12px;
    }
  }
  .closer {
    padding-top: 0;
  }
  .org_images {
    flex-direction: column;
    width: 100%;
      .left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 32px;
      }
      .right {
        width: 100%;
        height: 200px;
      }
  }
  .org_profile {
    .accordion__text {
      font-size: 18px;
    }
  }
  .gallery {
    .gallery_item {
      width: calc(50% - 16px);
      &:nth-child(3n+3) {
        margin-right: 32px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  //OZDOROVLENIE PAGE

  .page_body__inner .right .text_18 {
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
  }

  //NOCOMMERCE PAGE

  .tile_2 {
    .tile_item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 32px;
        .text {
          max-width: 100%;
        }
      &:nth-child(3n) .text {
        max-width: 100%;
      }
    }
  }
  .simple_page {
    .page_body {
      margin-top: 32px;
      margin-bottom: 32px;
    }
    .tile_nums {
      margin-top: 20px;
        .tile_item {
          &:nth-child(3n+3) {
            margin-right: 0;
          }
        }
    }
  }

  //RUSSIAN MED PAGE

  .page_title_descr {
    flex-direction: column;
      .left {
        margin-bottom: 32px;
        margin-right: 0;
          .text_18 {
            max-width: 100%;
          }
      }
      .right {
        .text_18 {
          max-width: 100%;
        }
      }
  }
  .tile_block {
    margin-top: 20px !important;
  }
  .simple_page {
    .tile_nums .tile_item .text .text_15.uppercase {
      line-height: 21px;
      FONT-SIZE: 13px;
    }
    .tile_nums .tile_item:nth-child(3n+3) {
      margin-right: 32px;
    }
    .simmetrical {
      flex-direction: column;
      .left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 32px;
        .text_18 {
          font-size: 14px;
        }
      }
      .right {
        width: 100%;
          .text_18 {
            font-size: 14px;
            &:last-child {
              margin-bottom: 0;
            }
          }
      }
    }
  }

  //MED ORG PAGE

  .tile_1 {
    margin-top: 40px;
    .tile_item {
      width: 100%;
      margin-right: 0;
      .text {
        max-width: 1000px;
      }
      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
  }

  .simple_page .tile_nums .tile_item {
    &:nth-child(3n+3) {
      margin-right: 32px;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  //CONTACTS PAGE

  .contacts {
    flex-direction: column;
      &_item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
          .ico {
            display: none;
          }
      }
  }
  .tablet_mb {
    margin: 0;
  }

  //SUPPORT PAGE

  .big_title__inner {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 120px 20px;
  }
  .sticky_block {
    display: none;
  }
  .big_block {
    width: 100%;
  }
  .visa_block {
    flex-direction: column;
      &__inner {
        width: 100%;
        margin-right: 0;
        margin-bottom: 32px;
          &:last-child {
            margin-bottom: 0;
          }
      }
  }
}